body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

h3 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 200px;
}

audio {
    display: block;
    margin: 0 auto;
  }

blockquote {
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    padding: 0 20px;
}

p {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

a {
    color: #9900ff;
    text-decoration: none;
}

progress {
    display: block;
    margin: 20px auto;
    width: 80%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

media-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
